@define-color text-color #2b2b2c;
@define-color background-color #e7e7ec;
@define-color green-color #1d7715;
@define-color red-color #e92d4d;
@define-color blue-color #407cdd;
@define-color purple-color #ad6bfd;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    color: @text-color;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text-color;
}

tooltip {
    background: @background-color;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @text-color;
}

tooltip label{
    color: @text-color;
}

#workspaces button {
    padding: 5px;
    color: @text-color;
    margin-right: 5px;
}
/*
#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}*/

#workspaces button.urgent {
    color: @text-color;
    background: @green-color;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @text-color;
    color: @background-color;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight,
#custom-launch_wofi {
    background: @background-color;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px;
}

#tray, #custom-lock_screen, #temperature, #backlight, #cpu {
    border-radius: 10px 0px 0px 10px;
}

#cpu {
	margin-left: 10px;
}

#custom-light_dark, #custom-power_btn, #workspaces, #pulseaudio.microphone, #battery, #disk{
    border-radius: 0px 10px 10px 0px;
    padding-right: 5px;
    margin-right: 10px;
}

#temperature.critical {
    color: @red-color;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

#custom-power_profile {
    color: @green-color;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: @blue-color;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio {
    color: @blue-color;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @purple-color;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: @green-color;
    border-left: 0px;
}
